<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.web>
 <globalization
 fileEncoding="utf-8"
 requestEncoding="utf-8"
 responseEncoding="utf-8"
 culture="es-ES"
 uiCulture="es-ES" />
 </system.web>
 <system.webServer>
 <staticContent>
 <clientCache cacheControlMode="UseMaxAge"
cacheControlMaxAge="00:00:01" />
 <remove fileExtension=".aspx" />
 <mimeMap fileExtension=".aspx" mimeType="text/html; charset=utf-8"
/>
 </staticContent>
143
Adahi Sánchez Gómez - Proyecto Final ASIR.
 <security>
 <authentication>
 <anonymousAuthentication enabled="false" />
 <basicAuthentication enabled="true" />
 </authentication>
 </security>
 </system.webServer>
 <location path="index.aspx">
 <system.webServer>
 <security>
 <authentication>
 <anonymousAuthentication enabled="true" />
 </authentication>
 </security>
 </system.webServer>
 </location>
 <location path="solicitud.aspx">
 <system.webServer>
 <security>
 <authentication>
 <anonymousAuthentication enabled="true" />
 </authentication>
 </security>
 </system.webServer>
 </location>
 <location path="calculadora.aspx">
 <system.webServer>
 <security>
 <authentication>
 <anonymousAuthentication enabled="true" />
 </authentication>
 </security>
 </system.webServer>
 </location>
</configuration>
